body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2d3e50;
    padding: 15px 40px;
    color: white;
}

.logo {
    background: #ff8c42;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
}

.top-bar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
    background: linear-gradient(135deg, #2d3e50, #4f6d8c);
    color: white;
}

.hero-text span {
    color: #ff8c42;
}

.hero-text h3 {
    font-weight: normal;
}


.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;

    background-image: url("img/foto.jpg");
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat;

    border: 5px solid white;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.about {
    padding: 80px 20px;
    max-width: 1100px;
    margin: auto;
}

.about h2 {
    text-align: center;
    margin-bottom: 10px;
}

.sub {
    text-align: center;
    color: gray;
    margin-bottom: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.text p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.datos {
    width: 30%;
    background: #f5f5f5;
    padding: 25px;
    border-radius: 12px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

* HABILIDADES *
.Habilidades {
    padding: 50px 80px;
}

.Habilidades h2 {
    text-align: center;
    text-transform: capitalize;
}

.Habilidades .sub {
    text-align: center;
    color: gray;
    margin-bottom: 30px;
}

.contenido-habilidades {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.lista-habilidades {
    width: 40%;
}

.lista-habilidades ul {
    list-style: none;
    padding: 0;
}

.lista-habilidades li {
    background: #f5f5f5;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
}

/* TABLA */
.habilidades-tabla {
    width: 50%;
}

.habilidades-tabla table {
    width: 100%;
    border-collapse: collapse;
}

.habilidades-tabla th {
    background: #2d3e50;
    color: white;
    padding: 10px;
}

.habilidades-tabla td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}